<div class="container-fluid p-4 m-auto">
	<div class="row d-flex justify-content-center align-content-center">
		<div class="card custom-card m-4 p-0" style="width: 18rem;">
			<img src="img/1.jpg" class="card-img-top" width="286" height="190">
			<div class="card-body">
				<h5 class="card-title">Osoby</h5>
				<p class="card-text">
					Osoby z Chojnic (Albin Makowski, Jan Karnowski...)
				</p>
				<div class="text-center">
					<a asp-area="" asp-controller="Home" asp-action="List" asp-route-category="Osoby" class="btn text-white custom-background">Zobacz więcej</a>
				</div>
			</div>
		</div>

		<div class="card custom-card m-4 p-0" style="width: 18rem;">
			<img src="img/2.jpg" class="card-img-top" width="286" height="190">
			<div class="card-body">
				<h5 class="card-title">Miejsca</h5>
				<p class="card-text">
					Miejsca w Chojnicach (stara plebania, stary szpital...)
				</p>
				<div class="text-center">
					<a asp-area="" asp-controller="Home" asp-action="List" asp-route-category="Miejsca" class="btn text-white custom-background">Zobacz więcej</a>
				</div>
			</div>
		</div>
        
		<div class="card custom-card m-4 p-0" style="width: 18rem;">
			<img src="img/3.jpg" class="card-img-top" width="286" height="190">
			<div class="card-body">
				<h5 class="card-title">Mapa miejsc</h5>
				<p class="card-text">
					Mapa z miejscami w Chojnicach
				</p><br/>
				<div class="text-center">
					<a asp-area="" asp-controller="Home" asp-action="Map" class="btn text-white custom-background">Zobacz więcej</a>
				</div>
			</div>
		</div>
	</div>
</div>

<p class="text-center m-0 pb-2">
	© 2022 - <script>document.write(new Date().getFullYear());</script> | Developed by Hubert Szymik, Gracjan Statkiewicz & Filip Kiedrowski
</p>