body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url("design.png");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 100%;
}